*.hi
*.o
*.sublime-project
*.sublime-workspace

.atom/blob-store
.atom/compile-cache
.atom/git-time-machine
.atom/nohup.out
.atom/packages/*
!.atom/packages/quchen-addons
.atom/storage
.atom/recovery

