[color "diff"]
    whitespace = red reverse
[color]
    branch = auto
    diff = auto
    status = auto
[core]
    editor = vim
[diff]
    tool = meld
[fetch]
    prune = true
[giggle]
    file-view-vpane-position = 924
    history-view-vpane-position = 659
    main-window-geometry = 0x0+0+0
    main-window-maximized = true
    main-window-view = HistoryView
    show-graph = true
[merge]
    tool = meld
[push]
    default = current
[rebase]
    autoStash = true
[rerere]
    enabled = true
    autoupdate = true # Automatically stage rerere-fixed conflicts
[user]
    name = David Luposchainsky
    email = dluposchainsky@gmail.com
[commit]
    verbose = true
[log]
    mailmap = true


[url "git://github.com/ghc/packages-"]
    insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
    insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
    insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
    insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:/ghc/packages-"]
    insteadOf = git@github.com:/ghc/packages/

[alias]
    # Pretty graphs

    # Up to current commit, medium commit info
    g = log -10 --graph --pretty=format:'%C(bold)%h%C(reset)%C(yellow)%d%C(reset) %C(red)%s%C(reset)%n        %ar (%ai)%n        %an <%ae>'

    # Long, full commit info
    gl = log --graph --pretty=format:'%C(bold)%h%C(reset)%n%H%n%C(yellow)%d%C(reset) %C(red)%s%C(reset)%n%n%b%n%nAuthor%n    %ar (%ai)%n    %an <%ae>%nCommitter%n    %cr (%ci)%n    %cn <%ce>%n'

    # All commits, medium commit info
    gg = log --graph --all --pretty=format:'%C(bold)%h%C(reset)%C(yellow)%d%C(reset) %C(red)%s%C(reset)%n        %ar (%ai)%n        %an <%ae>'

    # All commits, full commit info
    ggl = log --graph --all --pretty=format:'%C(bold)%h%C(reset)%n%H%n%C(yellow)%d%C(reset) %C(red)%s%C(reset)%n%n%b%n%nAuthor%n    %ar (%ai)%n    %an <%ae>%nCommitter%n    %cr (%ci)%n    %cn <%ce>%n'

    # Possible placeholders:
    # - '%%': a raw '%'
    # - '%ad': author date (format respects --date= option)
    # - '%aD': author date, RFC2822 style
    # - '%ae': author email
    # - '%aE': author email (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%ai': author date, ISO 8601 format
    # - '%an': author name
    # - '%aN': author name (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%ar': author date, relative
    # - '%at': author date, UNIX timestamp
    # - '%b': body
    # - '%B': raw body (unwrapped subject and body)
    # - '%C(...)': color specification, as described in color.branch.* config option
    # - '%C(red)': switch color to red
    # - '%C(reset)': reset color
    # - '%C(green)': switch color to green
    # - '%C(blue)': switch color to blue
    # - '%cd': committer date
    # - '%cD': committer date, RFC2822 style
    # - '%ce': committer email
    # - '%cE': committer email (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%ci': committer date, ISO 8601 format
    # - '%cn': committer name
    # - '%cN': committer name (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%cr': committer date, relative
    # - '%ct': committer date, UNIX timestamp
    # - '%d': ref names, like the --decorate option of linkgit:git-log[1]
    # - '%e': encoding
    # - '%f': sanitized subject line, suitable for a filename
    # - '%gD': reflog selector, e.g., `refs/stash@\{1\}`
    # - '%gd': shortened reflog selector, e.g., `stash@\{1\}`
    # - '%ge': reflog identity email
    # - '%gE': reflog identity email (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%gn': reflog identity name
    # - '%gN': reflog identity name (respecting .mailmap, see linkgit:git-shortlog[1] or linkgit:git-blame[1])
    # - '%gs': reflog subject
    # - '%h': abbreviated commit hash
    # - '%H': commit hash
    # - '%m': left, right or boundary mark
    # - '%N': commit notes
    # - '%n': newline
    # - '%p': abbreviated parent hashes
    # - '%P': parent hashes
    # - '%s': subject
    # - '%t': abbreviated tree hash
    # - '%T': tree hash
    # - '%w([<w>[,<i1>[,<i2>]]])': switch line wrapping, like the -w option of nkgit:git-shortlog[1].


    b       = branch
    bi      = bisect
    ci      = commit
    fix     = commit --amend
    co      = checkout
    d       = diff
    ds      = diff --staged
    dd      = diff --word-diff=color
    dds     = diff --word-diff=color --staged
    dw      = diff --color-words="[^[:space:],;:_-]+"
    dt      = difftool --dir-diff
    mt      = mergetool --no-prompt
    re      = rebase
    s       = status --short --branch
    sup     = submodule update
    unstage = reset HEAD --
    untrack = rm --cached
    up      = pull --rebase
    fa      = fetch --all

    sezieren                   = bisect
    zweig                      = branch
    zustand                    = status -sb
    unterschied                = diff
    wortunterschied            = diff --word-diff=color
    ausweisen                  = checkout
    unterschiedswerkzeug       = difftool --dir-diff
    vereinigungswerkzeug       = mergetool --no-prompt
    repariere                  = commit --amend
    rauf                       = pull --rebase
    aufpfropfen                = rebase
    unterkomponentenerneuerung = submodule update
    rausnehmen                 = reset HEAD --
    nichtmehrverfolgen         = rm --cached
    einweisen                  = commit -v
    holalle                    = fetch --all
    neubasieren                = rebase
    beschuldigen               = blame

[include]
    path = .gitconfig-local
