"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    consumeSuffix: false
    maxVisibleSuggestions: 5
    suggestionListFollows: "Cursor"
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "spell-check"
      "exception-reporting"
      "open-on-github"
    ]
    ignoredNames: [
      ".git"
      ".stack-work"
      ".node-gyp"
      ".apm"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "\"Hasklig\""
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    softWrapHangingIndent: 4
    tabLength: 4
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "highlight-selected":
    highlightBackground: true
  "ide-haskell":
    expressionTypeInterval: 86400000
    onSavePrettify: true
  "ide-haskell-cabal":
    activeGhcVersion: "7.10"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  tabs:
    enableVcsColoring: true
    tabScrolling: false
    usePreviewTabs: true
  "todo-show": {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
".source":
  whitespace:
    ensureSingleTrailingNewline: true
