"*":
  "atom-alignment": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    suggestionListFollows: "Cursor"
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".stack-work"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "cee3fb9f-d13c-9501-85fe-30221f79a93c"
  "haskell-ghc-mod": {}
  hex: {}
  "ide-haskell":
    onSavePrettify: true
  minimap:
    plugins:
      "highlight-selected": true
  "one-light-ui": {}
  "spell-check": {}
  "status-bar": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
    removeTrailingWhitespace: true
"source.cabal":
  whitespace:
    ensureSingleTrailingNewline: true
"source.haskell":
  whitespace:
    ensureSingleTrailingNewline: true
"text.haskell.latex.tex":
  whitespace:
    ensureSingleTrailingNewline: true
