".source.haskell":
    "qualified import":
        "prefix": "impq"
        "body": "import qualified ${1:Module}"

    "Language":
        "prefix": "LANGUAGE"
        "body": "{-# LANGUAGE ${1:Extension} #-}"
    "GHC options":
        "prefix": "OPTIONS"
        "body": "{-# OPTIONS_GHC ${1:Option} #-}"
    "Deprecation":
        "prefix": "DEPRECATED"
        "body": "{-# DEPRECATED ${1:Message} #-}"
    "Warning":
        "prefix": "WARNING"
        "body": "{-# WARNING ${1:Message} #-}"

    "Specialize":
        "prefix": "SPECIALIZE"
        "body": "{-# SPECIALIZE $1 #-}"
    "Rule":
        "prefix": "RULE"
        "body": "{-# RULE $1 #-}"
    "Inline":
        "prefix": "INLINE"
        "body": "{-# INLINE ${1:Identifier} #-}"
    "Noinline":
        "prefix": "NOINLINE"
        "body": "{-# NOINLINE ${1:Identifier} #-}"
    "Inlinable":
        "prefix": "INLINABLE"
        "body": "{-# INLINABLE ${1:Identifier} #-}"
