".source.haskell":
    "Language":
        "prefix": "LANGUAGE"
        "body": "{-# LANGUAGE $1 #-}"
    "GHC options":
        "prefix": "OPTIONS"
        "body": "{-# OPTIONS_GHC $1 #-}"
    "Deprecation":
        "prefix": "DEPRECATED"
        "body": "{-# DEPRECATED $1 #-}"
    "Warning":
        "prefix": "WARNING"
        "body": "{-# WARNING $1 #-}"
