@solarized-base03:  #002b36; //       dark
@solarized-base02:  #073642; //       dark
@solarized-base01:  #586e75; // light dark
@solarized-base00:  #657b83; // light
@solarized-base0:   #839496; //       dark
@solarized-base1:   #93a1a1; // light dark
@solarized-base2:   #eee8d5; // light
@solarized-base3:   #fdf6e3; // light
@solarized-yellow:  #b58900;
@solarized-orange:  #cb4b16;
@solarized-red:     #dc322f;
@solarized-magenta: #d33682;
@solarized-violet:  #6c71c4;
@solarized-blue:    #268bd2;
@solarized-cyan:    #2aa198;
@solarized-green:   #859900;


// TODO: Show whitespace in selected text





////////////////////////////////////////////////////////////////////////////////
// Config

atom-text-editor, atom-text-editor::shadow {

    .enableLigatures("coffee");
    .enableLigatures("haskell");
    .enableLigatures("shell");

    .blinking-cursor();

    .selection-config(@solarized-base02);
    .highlight-selected-config(@solarized-red);
    .bracket-matcher-config(@solarized-base01);

    .multi-wrap-guide {
        .wrap-guide-config(1, @solarized-base1, 30%);
        .wrap-guide-config(2, @solarized-base1, 50%);
        .wrap-guide-config(3, @solarized-base1, 70%);
    }

    .ide-haskell-config(
        @solarized-blue,
        @solarized-yellow,
        @solarized-red,
        @solarized-green
    );

    .jumpy-config (
        @solarized-base0,
        @solarized-base2,
        @solarized-base01,
        @solarized-base01
    );

}

.tree-view-config();





////////////////////////////////////////////////////////////////////////////////
// Lib

.enableLigatures(@language) {
    &[data-grammar*="@{language}"] {
        text-rendering: optimizeLegibility;
    }
}

.wrap-guide-config(@n, @color, @amount) {
    &:nth-child(@{n}) .multi-wrap-guide-line {
        border-right: 1px solid fade(@color, @amount);
        background: none;
    }
}

.highlight-selected-config(@color) {
    .highlights .highlight-selected.background .region {
      background: fade(@color, 20%);
      border: 1px solid fade(@color, 50%);
  }
}

.selection-config(@color) {
    .selection .region {
        background-color: @color;
    }
}

.bracket-matcher-config(@color) {
    .bracket-matcher .region {
        border: 1px solid @color;
        background: fade(@color, 25%);
    }
}

.blinking-cursor {
    .cursor {
        border-width: 0.2em;
        transition: opacity .3s;
    }
}

.jumpy-config(@fontC, @backgroundC, @borderC, @shadowC) {
    .jumpy-label {
        color:             @fontC;
        background-color:  @backgroundC;
        border:            1px solid @borderC;
        border-radius:     0;
        border-left-width: 0.3em;
        box-shadow:        0 0 5px 0 fade(@shadowC, 66%);
        font-family:       inherit;
        padding:           0.1em 0.3em;
    }
}

.tree-view-config {
    .tree-view {
        font-size: 1em;
    }
}

.ide-haskell-config(@lintC, @warnC, @errorC, @typeC) {
    .ide-haskell-highlight-config(@color) {
        .highlight .region {
            background: none;
            background-color: fade(@color, 33%);
        }
    }

    .ide-haskell-lint    { .ide-haskell-highlight-config(@lintC);  }
    .ide-haskell-warning { .ide-haskell-highlight-config(@warnC);  }
    .ide-haskell-error   { .ide-haskell-highlight-config(@errorC); }
    .ide-haskell-type    { .ide-haskell-highlight-config(@typeC);  }
}
