@solarized-base03:  #002b36; //       dark
@solarized-base02:  #073642; //       dark
@solarized-base01:  #586e75; // light dark
@solarized-base00:  #657b83; // light
@solarized-base0:   #839496; //       dark
@solarized-base1:   #93a1a1; // light dark
@solarized-base2:   #eee8d5; // light
@solarized-base3:   #fdf6e3; // light
@solarized-yellow:  #b58900;
@solarized-orange:  #cb4b16;
@solarized-red:     #dc322f;
@solarized-magenta: #d33682;
@solarized-violet:  #6c71c4;
@solarized-blue:    #268bd2;
@solarized-cyan:    #2aa198;
@solarized-green:   #859900;


// TODO: Show whitespace in selected text


.enableLigatures(@language) {
    &[data-grammar*="@{language}"] {
        text-rendering: optimizeLegibility;
    }
}

atom-text-editor, atom-text-editor::shadow {

    .enableLigatures("coffee");
    .enableLigatures("haskell");
    .enableLigatures("shell");

    .cursor {
        border-width: 2px;
        transition: opacity .3s;
    }

    .selection .region {
        background-color: @solarized-base02;
    }

    .bracket-matcher .region {
        border: 1px solid @solarized-base01;
        background: fade(@solarized-base01, 25%);
    }

    .highlights .highlight-selected.background .region {
      @highlight-selection: @solarized-red;
      background: fade(@highlight-selection, 20%);
      border: 1px solid fade(@highlight-selection, 50%);
    }

    .multi-wrap-guide:nth-child(1) .multi-wrap-guide-line {
        border-right: 1px solid fade(@solarized-base1, 30%);
        background: none;
    }
    .multi-wrap-guide:nth-child(2) .multi-wrap-guide-line {
        border-right: 1px solid fade(@solarized-base1, 50%);
        background: none;
    }
    .multi-wrap-guide:nth-child(3) .multi-wrap-guide-line {
        border-right: 1px solid fade(@solarized-base1, 70%);
        background: none;
    }

    .highlight {
        &.ide-haskell-lint .region {
            @haskell-ide-lint: @solarized-blue;
            background: none;
            background-color: fade(@haskell-ide-lint, 33%);
        }
        &.ide-haskell-warning .region {
            @haskell-ide-warn: @solarized-yellow;
            background: none;
            background-color: fade(@haskell-ide-warn, 33%);
        }
        &.ide-haskell-error .region {
            @haskell-ide-err: @solarized-red;
            background: none;
            background-color: fade(@haskell-ide-err, 33%);
        }
        &.ide-haskell-type .region {
            @haskell-ide-type: @solarized-green;
            background: none;
            background-color: fade(@haskell-ide-type, 33%);
        }
    }

}

.tree-view {
    font-size: 12px;
}
