@solarized-base03:  #002b36; //       dark
@solarized-base02:  #073642; //       dark
@solarized-base01:  #586e75; // light dark
@solarized-base00:  #657b83; // light
@solarized-base0:   #839496; //       dark
@solarized-base1:   #93a1a1; // light dark
@solarized-base2:   #eee8d5; // light
@solarized-base3:   #fdf6e3; // light
@solarized-yellow:  #b58900;
@solarized-orange:  #cb4b16;
@solarized-red:     #dc322f;
@solarized-magenta: #d33682;
@solarized-violet:  #6c71c4;
@solarized-blue:    #268bd2;
@solarized-cyan:    #2aa198;
@solarized-green:   #859900;




atom-text-editor {
    // Font ligatures
    text-rendering: optimizeLegibility;
}

atom-text-editor::shadow {

    .cursor {
        border-width: 2px;
        transition: opacity .3s;
    }

    .selection .region {
        background-color: @solarized-base02;
    }

    .bracket-matcher .region {
        border: 1px solid @solarized-base01;
        background: fade(@solarized-base01, 25%);
    }

    .highlights .highlight-selected.background .region {
      @highlight-selection: @solarized-red;
      background: fade(@highlight-selection, 20%);
      border: 1px solid fade(@highlight-selection, 50%);
    }

}

.tree-view {
    font-size: 12px;
    font-family: "Source Code Pro";
}
